
#---Library---#
cinder_0.8.6_mac/

#---OSX---#
.DS_Store
.DS_Store?
/xcode/build

#---Win---#
/vc2013/Debug
/vc2013/Release
/vc2015/Debug
/vc2015/Release

*.opensdf
*.vcxproj
*.vcxproj.filters
*.sdf
*.suo
*.v12.suo
*.ico
*.vs
